@font-face {
    font-family:neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family:neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family:neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family:neu;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    /* background-color: black; */
    position: relative;
    z-index: 10;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
.nav{
    height: 100px;
    width: 100%;
    padding: 5vw 0vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.nav-part2 h4{
    padding: 11px 17px;
    border: 1px solid rgba(0, 0, 0, 0.603);
    border-radius: 50px;
    font-weight: 600;
    position: relative;
    transition: all ease 0.4s;
    color: #000000bb;
    font-size: 18px;
    overflow: hidden;
    font-family: neu;


}
.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;

}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4 a{
    color: #000000bb;
    position: relative;
    text-decoration: none;
    z-index: 9;
}
.nav-part2 h4 :hover{
    color: white;
}
.center{
    height: 75vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #0000003c;
    padding-bottom: 2.5vw;
}
.left h3{
    width: 32vw;
    font-size: 2vw;
    font-family: neu;
    line-height: 2.5vw;
}
.center h1{
    font-size: 10vw;
    line-height: 8.5vw;
    font-family: neu;
    text-align: right;
    padding-bottom: 2.5vw;

}
.page1 video{
    width: 100%;
    border-radius: 20px;
    margin-top: 5vw;
    position: relative;
}
.hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0%;
    top: 33%;
    /* filter: blur(20px); */
}
.hero1{
    height: 100%;
    width: 100%;
    background-color: #FE340B;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

.hero2{
    height: 30vw;
    width: 30vw;
    background-color: #FE340B;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: vishal2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero3{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(#FE340B,#f55e07);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: vishal;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes vishal {
    from{
        transform: translate(55%,-13%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes vishal2 {
    from{
        transform: translate(5%,-15%);
    }
    to{
        transform: translate(-20%,20%);
    }
}
.page2{
    padding: 8vw 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
}
.moving-text{
    /* background-color: #ff0000; */
    white-space:nowrap ;
    overflow-x: auto;
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.moving-text h1{
    font-size: 9vw;
    /* background-color: #9c7661; */
    display: inline-block;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: sakshi;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.gola{
    height: 4.2vw;
    width:  4.2vw;
    background-color: #FE340B;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 3vw;
}
@keyframes sakshi {
     from{
        transform: translateX(0);
     }
     to{
        transform: translateX(-100%);
     }
}
.page2-bottom{
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.page2-bottom h1{
   font-size: 3.8vw;
   width: 60%;
   line-height: 4vw;
   margin-top: 5vw;
   z-index: 9;
}
.bottom-part2{
    width: 25%;
    /* background-color: blueviolet; */
}
.bottom-part2 img{
    height: 13vw;
    border-radius: 15px;
    margin-top: 20vw;

}
.bottom-part2 p{
    padding: 2vw;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 3vw;
}
.page2 .goery{
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient( to top,#FE340B,#dd5d07);
    top: 30%;
    left: 20%;
    filter: blur(20px);
    animation-name:goery;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}
@keyframes goery {
    frome{
        transform: translate(20%,-20%) skew(0);
    }
    to{
        transform: translate(-20%,20%) skew(-10deg);
    }
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    /* background-color: aliceblue; */
}
.elem{
    height: 100px;
    width: 100%;
    position: relative;
    border-bottom:1px solid rgba(168, 168, 168, 0.651);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color:#f05c17 ;
    position: absolute;
    left: 0;
    top:-100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
}
.elem-container{
    /* background-color: red; */
}
.fixed-image{
    height: 30vw;
    width: 25vw;
    /* background-color: red; */
    /* border: 2px solid white; */
    border-radius:10px ;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 20%;
    display: none;
    background-size: cover;
    background-position: center;
}
.page4{
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
}
.page5{
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}
.footer{
    padding: 1vw 3vw;
    position: fixed;
    min-height:100vh ;
    width: 100%;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: black;
    z-index: 9;
    /* justify-content: flex-end; */
    /* display: flex; */
    align-items: flex-end;
}
.footer h1{
    font-size: 23vw;
}
.footer-div{
    height: 40vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
}
.footer-bottom{
    border-top: 2px solid white;
    height: 10vh;
    width: 100%;
    background-color: #FE340B;
}